.filmCard {
  display: flex;
  margin-top: 40px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  padding: 20px;
  gap: 20px;
}

.film__poster {
  border-radius: 4px;
}
.film__info {
  text-align: justify;
}
.film__title {
  font-size: 26px;
  font-weight: 900;
  margin: 0 0 20px;
  line-height: 1.15;
}
.film__score {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.09;
  margin: 0 0 20px;
}

.film__titleOverview,
.film__titleGenres,
.addInfo__title {
  font-size: 20px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 5px;
}

.film__textOverview,
.film__listGenres {
  font-size: 16px;
  line-height: 1.09;
  font-weight: 400;
  margin-bottom: 20px;
}

.btn__back {
  border-radius: 10px;
  cursor: pointer;
  padding: 8px 16px;
  outline: none;
  border: 0px;
  background-color: rgba(215, 213, 213, 0.392);
  transition: ease-in 250ms;
}

.btn__back:hover {
  background-color: #3194d1;
  color: white;
}

.addInfo__container {
  padding: 20px;
  margin-top: 20px;
}

.addInfo__list {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.link {
  font-size: 20px;
}

.link:hover {
  color: #3194d1;
}

.active {
  color: #3194d1;
}
